body {
	background-color: #fdfd96;
}

.main{
	display: flex;
  align-items: center;
}

.imagecontainer{
	min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  max-height: fit-content;
}

.home {
	display: flex;
	flex-direction: row;
}

p, h1{
	overflow: hidden;
}

.imgagefeesh {
	max-height: 100vh;
}

.info{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 15%;
	margin-bottom: 30%;
}

.home-description{
	font-size: 20px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
	font-weight: bold;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.linktree {
	border: none;
	background-color: #e7e7e7;
	display: flex;
	color: black;
	padding: 15px 32px;
	text-align: center;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 12px;
	font-size: 16px;
	cursor: pointer;
}


@media only screen and (max-width: 600px) {
	.home {
		display: flex;
		flex-direction: column;
	}
  }