body{
	background-color: #fdfd96;
}

.container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
}

.avatar{
	display: flex;
	height: auto;
	justify-content: center;
	background-color: red;
}

.avatar-image{
	max-width: 40%;
}

.intro{
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
	text-align: center;
	align-items: center;
}

