body{
	background-color: #fdfd96;
}

.container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 2%;
}

.avatar{
	display: flex;
	height: auto;
}

.avatar-image{
	width: 40vh;
}

.intro{
	display: flex;
	width: 100%;
	flex-wrap: nowrap;
	overflow: hidden;
	text-align: center;
	align-items: center;
}

